

    $white:#f0f0f0;
    $white:#fff;
    $color1: #3ee00d;
    $color11: #248507;
    // $color2: #edb92e;
    $color2: #68645a;
    $colorw: #f3f3f3;
    $color-bg:#141e23de;
    $color-bg:#515151;
    $color3: #ff4455;
    $color4: #e3ffb5;
    $dark2: #515151;
    $dark3: #C7C7C7;
    $dark: #282828;
    $dark: #333;
    $light:#bfbfbf;
    $light2:#dfdfdf;
    $heading1: #e3ffb5;
    $heading2: #b5f0ff;
    $heading3: #ffb5b5;
    $heading4: #dab5ff; 




.heading1 {
    color: $heading1!important;
}
.heading2 {
    color: $heading2!important;
}
.heading3 {
    color: $heading3!important;
}
.heading4 {
    color: $heading4!important;
}
