header {
  // border-bottom: 1px solid $color2;
  font-family: Open-sans;
  background-color: #1f2b44;
  background-image: url(../../assets/img/serbian-flag.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 7rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  user-select: none;

  .icons-bar {
    height: 10rem;
    // background: linear-gradient(#616161, $dark);
    background: linear-gradient(#ffffff00, #0a0e18);
    overflow-x: auto;
    border-bottom: 1px solid $color2;
    transition: .3s height;
    box-shadow: 0px 1px 20px #00071cbd;

    .container-fluid {
      max-width: 1140px;
      // overflow: hidden;
    }

    &--top {
      transition: .3s height;
      background-color: #172031f7;

      &:before {
        // content: "";
        position: absolute;
        height: 100%;
        width: calc(100% + 15px);
        // background-image: url(../../assets/img/Gear.svg);
        background-position: left 6px, right 7px;
        background-size: 6.5rem;
        left: 50%;
        z-index: -1;
        box-shadow: 0px 5px 12px black;

      }

      .settings-btn {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        background-image: url(../../assets/icons/settings.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 3rem;

        &:hover {
          transform: rotate(180deg);
        }
      }
    }

  }



  .icon-btn {

    // width: calc(100% / 8);
    width: 100px;
    float: left;
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: center 1rem;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
    transition: .3s background-size;

    &__text {
      position: absolute;
      font-family: 'PT Sans Narrow';
      font-size: 16px;
      bottom: 2px;
      width: 100%;
      text-align: center;
      color: $dark3;
      white-space: nowrap;
      transition: .3s opacity;
      text-transform: lowercase;
      text-transform: capitalize;
      letter-spacing: 1px;
    }

    &:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);

      .icon-btn__text {
        color: #ffffff;
      }
    }


    &:nth-of-type(1) {
      min-width: 7rem;
      margin-right: 2rem;
      width: 6rem;
      background-image: url("../../assets/icons/call_doctor.svg");
    }

    &:nth-of-type(2) {
      background-image: url("../../assets/img/corona.png");
    }

    &:nth-of-type(3) {
      background-image: url("../../assets/icons/3distance_keep.svg");
    }

    &:nth-of-type(4) {
      background-image: url("../../assets/icons/Chart.svg");
    }

    &:nth-of-type(5) {
      background-image: url("../../assets/icons/piggy-bank.svg");
    }

    &:nth-of-type(6) {
      background-image: url("../../assets/icons/4no_crowd.svg");
    }

    &:nth-of-type(7) {
      background-image: url("../../assets/icons/4heart_strong.svg");
    }

    &:nth-of-type(8) {
      background-image: url("../../assets/icons/0home_stay.svg");
    }

    &.active_icon {
      position: relative;
      z-index: 2;
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);

      // &:after {
      //   content: "";
      //   position: absolute;
      //   height: 2px;
      //   width: calc(100% + 15px);
      //   background-color: #000;
      //   transform: translate(-50%);
      //   // bottom: -1px;
      //   left: 50%;
      //   z-index: -1;
      //   box-shadow: 0px 5px 12px black;

      // }

      // &:before {
      //   content: "";
      //   position: absolute;
      //   height: 100%;
      //   width: calc(100% + 15px);
      //   border-right: 1px solid #e2c82c;
      //   border-left: 1px solid #e2c82c;
      //   border-bottom: 1px solid #000;
      //   transform: translate(-50%);
      //   // bottom: -1px;
      //   left: 50%;
      //   z-index: -1;
      //   box-shadow: 0px 5px 12px black;

      // }

      .icon-btn__text {
        color: #ffffff;
      }
    }
  }

  &.scroll {
    .icons-bar {
      height: 7rem;
    }

    .icon-btn {
      background-size: 5rem;

      &__text {
        opacity: 0;
      }
    }
  }
}

// ICON - CONTENTS
.icons-contents {
  margin-top: 20rem;
  position: relative;
  // background: linear-gradient(to right, #282828ba, #cfcfcf21, #cfcfcf21, #282828ba);
  // border-bottom: 1px solid $color2;

  z-index: 1;
  // margin-top: -0;
  transition: all .35s;
  overflow: hidden;




  &.slide-up {
    .icon-content {
      max-height: 0 !important;
      transition: .35s;
    }
  }

  &-bg:before {
    content: "";
    position: absolute;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    background-size: contain;
    opacity: 0.25;
    background-repeat: no-repeat;
    ;
    z-index: -1;
  }

  &-bg:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100vw;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent 0%, #1E2637 32%);
    z-index: -1;
    ;
  }

  &-bg__1:before {
    background-image: url(../../assets/img/photo-call.jpg);
    top: -23vw;

  }

  &-bg__2:before {
    background-image: url(../../assets/img/photo-corona.jpg);
  }

  &-bg__3:before {
    background-image: url(../../assets/img/photo-protection.jpg);

  }

  &-bg__4:before {
    background-image: url(../../assets/img/photo-statistics.jpg);

  }

  &-bg__5:before {
    background-image: url(../../assets/img/photo-economy2.jpg);

  }

  &-bg__6:before {
    background-image: url(../../assets/img/photo-regulations.jpg);

  }

  &-bg__7:before {
    background-image: url(../../assets/img/photo-solidarity2.jpg);

  }

  &-bg__8:before {
    background-image: url(../../assets/img/photo-home3.jpg);

  }

  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 75%;
    background-image: linear-gradient(90deg, transparent, #3ee00d, transparent);
    background-image: linear-gradient(90deg, transparent, $color4, transparent);
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.icon-content {
  z-index: 1;
  width: 100%;
  display: none;
  color: $light2;
  transition: opacity .35s ease-in-out;
  overflow: hidden;
  position: absolute;
}

.logo-width {
  min-width: 100px;

}

.logo_img {
  height: 5rem;
  transition: .3s height;
  margin-bottom: .3rem;
  // filter: grayscale(100%) opacity(0.7);
  // filter: opacity(0.7);
}

.glow-on-hover {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
}

.glow-on-hover:before {
  // content: '';
  background: linear-gradient(45deg, #ff4455, #ff7300, #edb92e, #48ff00, #ff7300, #ff4455, #ff7300, #48ff00, #edb92e);
  position: absolute;
  top: 10%;
  left: 10%;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: 80%;
  height: 80%;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 50%;
}






.alert-colors {
  line-height: 1.4;
  font-size: 16px;
  animation: alertColors 4s linear 2s infinite;
}






// COVID-19
.protect-item {
  margin-bottom: 3rem;
}


@media only screen and (max-width: 1200px) {

  // .icons-contents {
  //   &-bg__2:before {
  //     background-size: 50vw auto;
  //     right: -20vw;
  //     top: - 20vw;
  //   }

  //   &-bg__3:before {
  //     right: calc((100% - 920px) / 2);
  //     top: 10px;
  //   }
  // }

  header {
    .icons-bar--top .container {
      min-width: 0;
    }

    .icon-btn {
      &__text {
        bottom: 0;
        font-size: 15px;
      }

      &:nth-of-type(8) {
        min-width: 120px;
      }
    }
  }

  .logo-width {
    min-width: 92px;

  }

  .alert-colors {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 1040px) {

  header {
    .icons-bar--top .container {
      min-width: 0;
    }

    .icon-btn {
      &__text {
        bottom: 0;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .icons-contents {
    &-bg:before {
      opacity: .4;
    }

    &-bg__1:before {
      top: 0;
    }

    &-bg:after {
      background-image: linear-gradient(transparent 0%, #1E2637 47%);
    }
  }

  .container-fluid {
    min-width: auto;

    .icon-btn {
      display: block;
      float: left;
      min-width: 100px;
    }
  }
}


@media only screen and (max-width: 576px) { 

  header {
    .icons-bar--top .container {
      min-width: 0;
    }

    .icon-btn {
      &__text {
        bottom: 0;
        font-size: 15px;
      }
    }
  }

  .logo-width {
    min-width: 68px;
  }
}