/* Utils */
.heading1 {
  color: #e3ffb5 !important;
}

.heading2 {
  color: #b5f0ff !important;
}

.heading3 {
  color: #ffb5b5 !important;
}

.heading4 {
  color: #dab5ff !important;
}

.divider {
  position: relative;
  font-size: 3rem;
  color: #3ee00d;
}

.text-grey {
  color: #C7C7C7;
}

.text-cta {
  color: #3ee00d;
}

.text-cta:hover {
  color: #3ee00d;
  text-decoration: underline;
}

.style1 h5 {
  color: #e3ffb5;
}

.style1 a {
  border-top: 1px solid #e3ffb5;
}

.style1 .contacts__item__num {
  color: #e3ffb5;
}

.style2 .second-heading {
  color: #3ee00d;
}

.style2 h5 {
  color: #ff4455;
}

.style2 a {
  border-top: 1px solid #ffb5b5;
}

.style3 h5 {
  color: #ffb5b5;
}

.style3 a {
  border-top: 1px solid #ffb5b5;
}

.hide {
  display: none !important;
}

.important-text {
  text-align: center;
  color: #C7C7C7;
  font-size: 2.5rem;
  padding: 5rem 2rem;
  position: relative;
}

.important-text:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 60%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#3ee00d), to(transparent));
  background-image: linear-gradient(90deg, transparent, #3ee00d, transparent);
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb5), to(transparent));
  background-image: linear-gradient(90deg, transparent, #e3ffb5, transparent);
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.divider {
  height: 1px;
  width: 75%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#3ee00d), to(transparent));
  background-image: linear-gradient(90deg, transparent, #3ee00d, transparent);
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb5), to(transparent));
  background-image: linear-gradient(90deg, transparent, #e3ffb5, transparent);
  margin: 4rem auto;
}

@-webkit-keyframes alertColors {
  0% {
    color: rgba(255, 255, 255, 0.25);
  }
  25% {
    color: #3ee00d;
  }
  50% {
    color: rgba(255, 255, 255, 0.25);
  }
  75% {
    color: #3ee00d;
  }
  100% {
    color: rgba(255, 255, 255, 0.25);
  }
}

@keyframes alertColors {
  0% {
    color: rgba(255, 255, 255, 0.25);
  }
  25% {
    color: #3ee00d;
  }
  50% {
    color: rgba(255, 255, 255, 0.25);
  }
  75% {
    color: #3ee00d;
  }
  100% {
    color: rgba(255, 255, 255, 0.25);
  }
}

@-webkit-keyframes phonePuls {
  0% {
    background-size: 3rem;
  }
  25% {
    background-size: 4.5rem;
  }
  50% {
    background-size: 2rem;
  }
  75% {
    background-size: 4.5rem;
  }
  100% {
    background-size: 3rem;
  }
}

@keyframes phonePuls {
  0% {
    background-size: 3rem;
  }
  25% {
    background-size: 4.5rem;
  }
  50% {
    background-size: 2rem;
  }
  75% {
    background-size: 4.5rem;
  }
  100% {
    background-size: 3rem;
  }
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (min-width: 1200px) {
  @-webkit-keyframes phonePuls {
    0% {
      background-size: 3rem;
    }
    25% {
      background-size: 3.5rem;
    }
    50% {
      background-size: 2.5rem;
    }
    75% {
      background-size: 3.5rem;
    }
    100% {
      background-size: 3rem;
    }
  }
  @keyframes phonePuls {
    0% {
      background-size: 3rem;
    }
    25% {
      background-size: 3.5rem;
    }
    50% {
      background-size: 2.5rem;
    }
    75% {
      background-size: 3.5rem;
    }
    100% {
      background-size: 3rem;
    }
  }
}

/* Base */
@font-face {
  font-family: 'Open-sans-bold';
  src: url("../../assets/fonts/OpenSans-Bold.eot");
  src: url("../../assets/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("../../assets/fonts/OpenSans-Bold.woff") format("woff"), url("../../assets/fonts/OpenSans-Bold.ttf") format("truetype"), url("../../assets/fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../../assets/fonts/PTSans-Narrow.eot");
  src: url("../../assets/fonts/PTSans-Narrow.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/PTSans-Narrow.woff2") format("woff2"), url("../../assets/fonts/PTSans-Narrow.woff") format("woff"), url("../../assets/fonts/PTSans-Narrow.ttf") format("truetype"), url("../../assets/fonts/PTSans-Narrow.svg#PTSans-Narrow") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url("../../assets/fonts/Roboto-Bold.eot");
  src: url("../../assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../../assets/fonts/Roboto-Bold.woff") format("woff"), url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../assets/fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans';
  src: url("../../assets/fonts/OpenSans-Regular.eot");
  src: url("../../assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("../../assets/fonts/OpenSans-Regular.woff") format("woff"), url("../../assets/fonts/OpenSans-Regular.ttf") format("truetype"), url("../../assets/fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-light';
  src: url("../../assets/fonts/Roboto-Light.eot");
  src: url("../../assets/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../../assets/fonts/Roboto-Light.woff") format("woff"), url("../../assets/fonts/Roboto-Light.ttf") format("truetype"), url("../../assets/fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Regular.eot");
  src: url("../../assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../../assets/fonts/Roboto-Regular.woff") format("woff"), url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"), url("../../assets/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans-light';
  src: url("../../assets/fonts/OpenSans-Light.eot");
  src: url("../../assets/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/OpenSans-Light.woff2") format("woff2"), url("../../assets/fonts/OpenSans-Light.woff") format("woff"), url("../../assets/fonts/OpenSans-Light.ttf") format("truetype"), url("../../assets/fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'patrick-hand';
  src: url("../../assets/fonts/PatrickHand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.test {
  font-family: 'Abel';
  font-family: 'Open-sans';
  font-family: 'Open-sans-bold';
  font-family: 'Open-sans-light';
  font-family: 'Roboto';
  font-family: 'Roboto-bold';
  font-family: 'Roboto-light';
  font-family: 'PT Sans Narrow';
}

.main-heading {
  text-align: center;
  font-family: open-sans-bold;
  position: relative;
  color: #f3f3f3;
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 5rem;
  margin-top: 6rem;
  font-family: 'PT Sans Narrow';
  letter-spacing: 4px;
}

.second-heading {
  color: #e3ffb5;
  font-size: 3rem;
  font-family: "Open-sans-bold";
  text-align: left;
  margin-bottom: 1.5rem;
  margin-top: .5rem;
  line-height: 1.5;
}

.third-heading {
  color: #e3ffb5;
  font-size: 2.2rem;
  font-family: "Open-sans-bold";
  text-align: left;
  margin-bottom: 1.5rem;
  margin-top: .5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  font-family: Open-sans;
}

@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 5rem;
    line-height: 1.25;
    margin-bottom: 4.5rem;
    margin-top: 5rem;
  }
  p {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .main-heading {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .second-heading {
    margin-bottom: 2.5rem;
  }
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 42.5%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  font-size: 1.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#282828ba), color-stop(#cfcfcf21), color-stop(#cfcfcf21), to(#282828ba));
  background: linear-gradient(to right, #282828ba, #cfcfcf21, #cfcfcf21, #282828ba);
}

ul, li {
  list-style: none;
}

body * {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-layer {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.roto-loader {
  display: none;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
  -webkit-animation: rotoLoader 20s linear infinite;
          animation: rotoLoader 20s linear infinite;
}

.roto-loader img {
  display: block;
  width: 10px;
  height: 10px;
}

.source-info {
  padding: 4rem 4rem 6rem 4rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 47.5%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 52.5%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 57.5%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

/* Components */
.scroll-up-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  min-width: 30px;
  min-height: 30px;
  background-color: #fff;
  padding-bottom: 10px;
  z-index: 1000;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5rem;
  border-radius: 50%;
  opacity: .7;
  color: #3ee00d;
  display: none;
  background-image: url(../../assets/icons/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2rem;
}

.scroll-up-btn:hover {
  opacity: 1;
  color: #3ee00d;
  text-decoration: none;
}

.scroll-up-btn.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#table-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -13.5rem;
  padding-top: 8rem;
  border-top: 1px solid #68645a;
}

#table-wrapper table {
  font-size: 2rem;
  position: relative;
  width: 100%;
  text-align: left;
}

#table-wrapper table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#table-wrapper table tr th {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #a2a8a2;
  border-right: 1px solid #e3ffb5;
  padding-left: 2rem;
}

#table-wrapper table tr th:first-child {
  color: #ff4455;
  border-left: 1px solid #e3ffb5;
}

#table-wrapper table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#table-wrapper table tr td {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .5rem;
  font-size: 3rem;
  color: white;
  border-right: 1px solid #e3ffb5;
  padding-left: 2rem;
}

#table-wrapper table tr td:first-child {
  color: #ff4455;
  border-left: 1px solid #e3ffb5;
}

@media screen and (max-width: 576px) {
  #table-wrapper table {
    font-size: 1.5rem;
  }
  #table-wrapper table tr th {
    padding-left: 1rem;
  }
  #table-wrapper table tr th:first-child {
    color: #ff4455;
    border-left: 1px solid #e3ffb5;
  }
  #table-wrapper table tr td {
    padding-left: 1rem;
  }
}

/* Layout */
header {
  font-family: Open-sans;
  background-color: #1f2b44;
  background-image: url(../../assets/img/serbian-flag.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 7rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .icons-bar {
  height: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#0a0e18));
  background: linear-gradient(#ffffff00, #0a0e18);
  overflow-x: auto;
  border-bottom: 1px solid #68645a;
  -webkit-transition: .3s height;
  transition: .3s height;
}

header .icons-bar .container-fluid {
  max-width: 1140px;
}

header .icons-bar--top {
  -webkit-transition: .3s height;
  transition: .3s height;
  background-color: #172031f7;
}

header .icons-bar--top:before {
  position: absolute;
  height: 100%;
  width: calc(100% + 15px);
  background-position: left 6px, right 7px;
  background-size: 6.5rem;
  left: 50%;
  z-index: -1;
  -webkit-box-shadow: 0px 5px 12px black;
          box-shadow: 0px 5px 12px black;
}

header .icons-bar--top .settings-btn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-image: url(../../assets/icons/settings.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 3rem;
}

header .icons-bar--top .settings-btn:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .icon-btn {
  width: 100px;
  float: left;
  background-size: 6rem;
  background-repeat: no-repeat;
  background-position: center 1rem;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: .3s background-size;
  transition: .3s background-size;
}

header .icon-btn__text {
  position: absolute;
  font-family: 'PT Sans Narrow';
  font-size: 16px;
  bottom: 2px;
  width: 100%;
  text-align: center;
  color: #C7C7C7;
  white-space: nowrap;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  text-transform: lowercase;
  text-transform: capitalize;
  letter-spacing: 1px;
}

header .icon-btn:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

header .icon-btn:hover .icon-btn__text {
  color: #ffffff;
}

header .icon-btn:nth-of-type(1) {
  min-width: 7rem;
  margin-right: 2rem;
  width: 6rem;
  background-image: url("../../assets/icons/call_doctor.svg");
}

header .icon-btn:nth-of-type(2) {
  background-image: url("../../assets/img/corona.png");
}

header .icon-btn:nth-of-type(3) {
  background-image: url("../../assets/icons/3distance_keep.svg");
}

header .icon-btn:nth-of-type(4) {
  background-image: url("../../assets/icons/Chart.svg");
}

header .icon-btn:nth-of-type(5) {
  background-image: url("../../assets/icons/piggy-bank.svg");
}

header .icon-btn:nth-of-type(6) {
  background-image: url("../../assets/icons/4no_crowd.svg");
}

header .icon-btn:nth-of-type(7) {
  background-image: url("../../assets/icons/4heart_strong.svg");
}

header .icon-btn:nth-of-type(8) {
  background-image: url("../../assets/icons/0home_stay.svg");
}

header .icon-btn.active_icon {
  position: relative;
  z-index: 2;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

header .icon-btn.active_icon .icon-btn__text {
  color: #ffffff;
}

header.scroll .icons-bar {
  height: 7rem;
}

header.scroll .icon-btn {
  background-size: 5rem;
}

header.scroll .icon-btn__text {
  opacity: 0;
}

.icons-contents {
  margin-top: 20rem;
  position: relative;
  z-index: 1;
  -webkit-transition: all .35s;
  transition: all .35s;
  overflow: hidden;
}

.icons-contents.slide-up .icon-content {
  max-height: 0 !important;
  -webkit-transition: .35s;
  transition: .35s;
}

.icons-contents-bg:before {
  content: "";
  position: absolute;
  top: 2%;
  height: 100vw;
  left: 2%;
  right: 2%;
  opacity: 0.15;
  background-repeat: no-repeat;
  background-size: 20vw auto;
  background-position: right top;
  background-image: url(../../assets/img/serbia.png);
  z-index: -1;
}

.icons-contents-bg__1:before {
  background-image: url(../../assets/img/serbia.png);
}

.icons-contents-bg__2:before {
  background-image: url(../../assets/icons/virus.svg);
}

.icons-contents-bg__3:before {
  background-image: url(../../assets/img/stethoscope.png);
}

.icons-contents:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 75%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#3ee00d), to(transparent));
  background-image: linear-gradient(90deg, transparent, #3ee00d, transparent);
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb5), to(transparent));
  background-image: linear-gradient(90deg, transparent, #e3ffb5, transparent);
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.icon-content {
  z-index: 1;
  width: 100%;
  display: none;
  color: #dfdfdf;
  -webkit-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
  overflow: hidden;
  position: absolute;
}

.logo-width {
  min-width: 100px;
}

.logo_img {
  height: 5rem;
  -webkit-transition: .3s height;
  transition: .3s height;
  margin-bottom: .3rem;
}

.glow-on-hover {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
}

.glow-on-hover:before {
  background: linear-gradient(45deg, #ff4455, #ff7300, #edb92e, #48ff00, #ff7300, #ff4455, #ff7300, #48ff00, #edb92e);
  position: absolute;
  top: 10%;
  left: 10%;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: 80%;
  height: 80%;
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 50%;
}

.alert-colors {
  line-height: 1.4;
  font-size: 16px;
  -webkit-animation: alertColors 4s linear 2s infinite;
          animation: alertColors 4s linear 2s infinite;
}

.protect-item {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1200px) {
  header .icons-bar--top .container {
    min-width: 0;
  }
  header .icon-btn__text {
    bottom: 0;
    font-size: 15px;
  }
  header .icon-btn:nth-of-type(8) {
    min-width: 120px;
  }
  .logo-width {
    min-width: 92px;
  }
  .alert-colors {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 1040px) {
  header .icons-bar--top .container {
    min-width: 0;
  }
  header .icon-btn__text {
    bottom: 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    min-width: auto;
  }
  .container-fluid .icon-btn {
    display: block;
    float: left;
    min-width: 100px;
  }
}

@media only screen and (max-width: 576px) {
  header .icons-bar--top .container {
    min-width: 0;
  }
  header .icon-btn__text {
    bottom: 0;
    font-size: 15px;
  }
  .logo-width {
    min-width: 68px;
  }
}

#quote-wrapper {
  top: 20px;
  left: -252px;
  margin: 6rem auto;
  position: absolute;
  width: 100vw;
  height: 90vw;
  background-image: url(../../assets/icons/bubble.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: left center;
  padding: 2.5vw 10vw 1vw 12vw;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
}

#quote-wrapper:hover {
  top: 160px;
  left: 0;
}

.quote {
  position: relative;
  width: 100%;
  height: 80%;
  margin: 0;
}

.quote:before {
  content: "";
  width: 50%;
  height: 85%;
  float: left;
  shape-outside: polygon(0 0, 98% 0, 50% 6%, 23.4% 17.3%, 6% 32.6%, 0 50%, 6% 65.6%, 23.4% 82.7%, 50% 94%, 98% 100%, 0 100%);
  shape-margin: 5%;
}

.quote__content {
  font-family: patrick-hand;
  font-size: 4.5vw;
  line-height: 1.3;
  color: grey;
  height: 100%;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  font-style: italic;
}

.quote__content:before {
  content: "";
  width: 50%;
  height: 85%;
  float: right;
  shape-outside: polygon(2% 0%, 100% 0%, 100% 100%, 2% 100%, 50% 94%, 76.6% 82.7%, 94% 65.6%, 100% 50%, 94% 32.6%, 76.6% 17.3%, 50% 6%);
  shape-margin: 5%;
}

.quote__author {
  font-family: patrick-hand;
  width: 100%;
  position: absolute;
  bottom: 20vw;
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
  color: #8f8f8f;
  line-height: 1.1;
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  #quote-wrapper {
    display: block;
    float: left;
    width: 390px;
    height: 330px;
    background-size: cover;
    padding: 0px 20px 10px 30px;
  }
  .quote__content {
    font-size: 16px;
  }
  .quote__author {
    font-size: 14px;
    bottom: 24%;
  }
}

/* Sections */
.contacts {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__item {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb51f), to(transparent));
  background: linear-gradient(90deg, transparent, #e3ffb51f, transparent);
  border-radius: .7rem;
  border: 1px solid #e3ffb533;
  -webkit-box-shadow: 0px 3px 9px #00000087;
          box-shadow: 0px 3px 9px #00000087;
  overflow: hidden;
}

.contacts__item__anch {
  padding-top: .8rem;
  padding-bottom: .8rem;
  font-family: 'Open-sans';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.2rem;
  color: #bfbfbf;
  background-color: rgba(0, 0, 0, 0.25);
  background-color: rgba(220, 220, 255, 0.15);
}

.contacts__item__anch:hover {
  border-top: 1px solid #3ee00d;
  text-decoration: none;
  color: #bfbfbf;
}

.contacts__item__heading {
  text-align: left;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.2rem;
  color: #fff;
}

.contacts__item__num {
  font-family: open-sans-bold;
  font-size: 2.5rem;
  color: #ff4455;
  display: inline-block;
  background-image: url(../../assets/icons/call.svg);
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: left center;
  padding: .6rem;
  padding-left: 4rem;
  -webkit-transition: .3s color;
  transition: .3s color;
  white-space: nowrap;
  margin-left: 2rem;
}

.contacts__item:hover {
  text-decoration: none;
  color: #f3f3f3;
}

.contacts__item:hover .contacts__item__num {
  color: #3ee00d;
  background-image: url(../../assets/icons/call-hover.svg);
  -webkit-animation: phonePuls 1.5s;
          animation: phonePuls 1.5s;
}

.contacts_group--upset .contacts__item {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb51f), to(transparent));
  background: linear-gradient(90deg, transparent, #e3ffb51f, transparent);
}

.contacts_group {
  margin-bottom: 6rem;
}

@media screen and (max-width: 576px) {
  .contacts__item {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item__anch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__item__num {
    margin-left: 0;
  }
  .contacts__item__heading {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item__anch {
    font-size: 1.75rem;
    letter-spacing: 0;
    min-height: 128px;
  }
  .contacts__item__num {
    font-size: 2.2rem;
  }
  .contacts_group--upset .contacts__item__anch {
    min-height: 161px;
  }
  .contacts_group--medical .contacts__item__anch {
    min-height: 111px;
  }
}

.b-ground, .question .btn .plus-minus, .question .btn.collapsed .plus-minus, .solidarity .question .btn.collapsed .plus-minus {
  background-repeat: no-repeat;
}

.faq {
  margin-bottom: 1rem;
}

.faq__heading {
  display: block;
}

.faq-full__heading {
  display: none;
}

.faq p {
  margin: 2rem 0;
}

.question {
  border-radius: .7rem;
  background-color: rgba(220, 220, 255, 0.15);
}

.question .btn {
  position: relative;
  padding-left: 6rem;
  font-family: Open-sans-bold;
  font-size: 1.9rem;
  color: #333;
  line-height: 3.5rem;
  border-radius: .7rem;
  border: 1px solid #e3ffb533;
  -webkit-box-shadow: 0px 3px 9px #00000087;
          box-shadow: 0px 3px 9px #00000087;
  background: #248507;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.question .btn .plus-minus {
  position: absolute;
  left: 1.8rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #248507;
  background-image: url(../../assets/icons/ico_minus.svg);
}

.question .btn.collapsed {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb51f), to(transparent));
  background: linear-gradient(90deg, transparent, #e3ffb51f, transparent);
  color: #f3f3f3;
  border: solid 1px rgba(181, 184, 183, 0.4);
}

.question .btn.collapsed .plus-minus {
  background-image: url(../../assets/icons/ico_plus.svg);
}

.question .btn.collapsed:hover {
  border: 1px solid #3ee00d;
}

.question .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.answer {
  padding: 1.5rem 1rem 0 1rem;
  font-size: 1.8rem;
  color: #dfdfdf;
}

.dot {
  text-indent: 20px;
  background-image: url(../../assets/icons/dot.svg);
  background-repeat: no-repeat;
  background-position: left 1.1rem;
  background-size: 1.2rem;
}

.dot--y {
  background-image: url(../../assets/icons/dot-y.svg);
}

@media only screen and (min-width: 992px) {
  .answer-wrapper {
    width: 925px;
  }
  .faq:nth-child(even) .answer-wrapper {
    -webkit-transform: translateX(-492px);
            transform: translateX(-492px);
  }
}

@media only screen and (min-width: 1200px) {
  .answer-wrapper {
    width: 1105px;
  }
  .faq:nth-child(even) .answer-wrapper {
    -webkit-transform: translateX(-583px);
            transform: translateX(-583px);
  }
}

@media only screen and (max-width: 768px) {
  .question .btn {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 7rem;
    font-size: 2.1rem;
  }
}

.protect-column {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

div[class^="protect-"] {
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
  min-width: 0;
  width: 100%;
  word-wrap: break-word;
}

.protect_box {
  background-color: rgba(220, 220, 255, 0.15);
  border-radius: .7rem;
  min-height: 200px;
}

.protect {
  padding: 2rem;
  border-radius: .7rem;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb51f), to(transparent));
  background: linear-gradient(90deg, transparent, #e3ffb51f, transparent);
  background: -webkit-gradient(linear, left top, right top, from(#242839), color-stop(#424653), to(#242839));
  background: linear-gradient(90deg, #242839, #424653, #242839);
  color: #f3f3f3;
  border: solid 1px rgba(181, 184, 183, 0.4);
  -webkit-box-shadow: 0px 3px 9px #00000087;
          box-shadow: 0px 3px 9px #00000087;
}

.protect__heading {
  font-family: Open-sans-bold;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.protect__content {
  font-size: 2.2rem;
  line-height: 1.5;
  text-align: justify;
}

.protect__img {
  min-width: 11rem;
  height: 11rem;
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: left top;
  margin-right: 10px;
  float: left;
}

.protect__why {
  font-family: Open-sans-bold;
  font-size: 2.2rem;
  line-height: 2;
  margin: .5rem 0;
}

.protect__answer {
  text-align: justify;
  font-size: 2.2rem;
  line-height: 1.5;
}

.protect-1 .protect__img {
  background-image: url(../../assets/icons/washhands.svg);
}

.protect-2 .protect__img {
  background-image: url(../../assets/icons/cough_elbow.svg);
}

.protect-3 .protect__img {
  background-image: url(../../assets/icons/drugs.svg);
}

.protect-4 .protect__img {
  background-image: url(../../assets/icons/touching_eyes.svg);
}

.protect-5 .protect__img {
  background-image: url(../../assets/icons/5distance.svg);
}

.protect-6 .protect__img {
  background-image: url(../../assets/icons/info_warning.svg);
}

.protect-7 .protect__img {
  background-image: url(../../assets/icons/crowd.svg);
}

.protect-8 .protect__img {
  background-image: url(../../assets/icons/1hands_wash.svg);
}

.protect-9 .protect__img {
  background-image: url(../../assets/icons/mask.svg);
}

.protect-10 .protect__img {
  background-image: url(../../assets/icons/1hands_wash.svg);
}

.protect-11 .protect__img {
  background-image: url(../../assets/icons/1hands_wash.svg);
}

@media screen and (min-width: 768px) {
  .protect-column {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .protect__answer, .protect__content {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .protect-column {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

.switch-locale {
  list-style: none;
  text-align: right;
}

.switch-locale a {
  color: #3ee00d;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 12px;
  display: block;
  padding: 10px;
  border: 1px solid grey;
  width: 90px;
  text-align: center;
  border-radius: 6px;
}

.switch-locale a:hover {
  color: #ffffff;
}

.settings-menu {
  position: fixed;
  z-index: 1250;
  top: 0;
  left: 100%;
  width: 100%;
  max-width: 320px;
  height: 100%;
  background-color: #070918e6;
  color: #fff;
  -webkit-transition: -webkit-transform .45s;
  transition: -webkit-transform .45s;
  transition: transform .45s;
  transition: transform .45s, -webkit-transform .45s;
  max-height: 100%;
  overflow-y: auto;
}

.settings-menu.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.section-list .check {
  display: block;
  position: relative;
  padding: 14px 0 12px 50px;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
}

.section-list .check.active .label {
  color: #ffffff;
}

.section-list .check.active:before {
  background-color: #248507;
}

.section-list .check.active:after {
  opacity: 1;
  height: 9px;
}

.section-list .check:before {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3d4553;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.section-list .check:after {
  content: "";
  display: block;
  position: absolute;
  left: 17px;
  bottom: 16px;
  width: 5px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  opacity: 0;
  height: 0;
  -webkit-transition: opacity .25s, height .15s;
  transition: opacity .25s, height .15s;
}

.section-list .check .label {
  position: relative;
}

.section-list__close-btn {
  position: absolute;
  font-size: 5.5rem;
  line-height: 1;
  color: #ffffff;
  padding: 0 1rem 1rem 1rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}

.home-time {
  padding-bottom: 6rem;
}

.home-time .home-time-nav {
  border-bottom: solid 1px rgba(181, 184, 183, 0.4);
}

.home-time .home-time-nav__item {
  width: calc(100% / 3);
  padding: 1rem 0;
  text-align: center;
  font-family: Open-sans-bold;
  font-size: 1.9rem;
  color: #f3f3f3;
  background-color: none;
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
  border: solid 1px transparent;
}

.home-time .home-time-nav__item.active {
  border: solid 1px rgba(181, 184, 183, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb51f), to(transparent));
  background: linear-gradient(90deg, transparent, #e3ffb51f, transparent);
  color: #f3f3f3;
}

.home-time .home-time-nav__item.active:hover {
  border: solid 1px #3ee00d;
}

.home-time .home-time-nav__item:hover {
  border: solid 1px transparent;
  border-bottom: solid 1px #3ee00d;
}

.solidarity .faq-wrapper {
  margin-bottom: 5rem;
}

.solidarity__item p {
  margin: 2.5rem 0;
}

.solidarity .question .btn {
  background: #ff4455;
}

.solidarity .question .btn .plus-minus {
  background: #ff4455;
  background-image: url(../../assets/icons/ico_minus_red.svg);
}

.solidarity .question .btn.collapsed {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb51f), to(transparent));
  background: linear-gradient(90deg, transparent, #e3ffb51f, transparent);
  color: #f3f3f3;
  border: solid 1px rgba(181, 184, 183, 0.4);
}

.solidarity .question .btn.collapsed .plus-minus {
  background-image: url(../../assets/icons/ico_plus__red.svg);
}

.solidarity .question .btn.collapsed:hover {
  border: 1px solid #ff4455;
}

.economy p {
  margin: 2rem 0;
}

.economy__item {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb51f), to(transparent));
  background: linear-gradient(90deg, transparent, #e3ffb51f, transparent);
  color: #f3f3f3;
  border: solid 1px rgba(181, 184, 183, 0.4);
  border-radius: .7rem;
  overflow: hidden;
}

.economy__item__heading {
  background: -webkit-gradient(linear, left top, right top, from(rgba(220, 220, 255, 0.15)), to(transparent));
  background: linear-gradient(90deg, rgba(220, 220, 255, 0.15), transparent);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.economy__item__link {
  font-size: 4rem;
  font-family: sans-serif;
  border-left: solid 1px rgba(181, 184, 183, 0.4);
}

.economy__item__link:hover {
  background-color: #172031f7;
  text-decoration: none;
}

.regulations__item {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb51f), to(transparent));
  background: linear-gradient(90deg, transparent, #e3ffb51f, transparent);
  color: #f3f3f3;
  border: solid 1px rgba(181, 184, 183, 0.4);
  border-radius: .7rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}

.regulations__item:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 60%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#3ee00d), to(transparent));
  background-image: linear-gradient(90deg, transparent, #3ee00d, transparent);
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb5), to(transparent));
  background-image: linear-gradient(90deg, transparent, #e3ffb5, transparent);
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.regulations__item:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 60%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#3ee00d), to(transparent));
  background-image: linear-gradient(90deg, transparent, #3ee00d, transparent);
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#e3ffb5), to(transparent));
  background-image: linear-gradient(90deg, transparent, #e3ffb5, transparent);
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.regulations .megaphone-img {
  display: block;
  width: 10rem;
  height: 10rem;
  float: left;
  margin-right: 2rem;
}

.regulations p {
  margin: 1.5rem 0;
}

/* Themes */
/* Vendors */
/*# sourceMappingURL=main.css.map */